/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: #f7f7e5;
  color: #007777;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 33px;
  /*background-image: url(<%= asset_path 'icon.jpg' %>);
  background-repeat: repeat-x; */
  margin-bottom: 100px;
}

div.container {
    width: 100%;
    border: 1px solid gray;
    font-family: 'Dosis', sans-serif;
}

header, footer {
    padding: 1em;
    color: #f7f7e5;
    background-color: #4c9f9f;
    clear: left;
    text-align: center;
}

h1 {
    color: #e0301e;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 100px;
}

h3 {
    color: #234751;
    text-align: left;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

table {
  border-collapse: collapse;
  border-radius: 12px;
  background-color: $background-color;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 10px 40px 0 rgba(0,0,0,0.19);

tbody {
  border-bottom: 1px solid #f7f7e5;
  text-align: center;
}
