// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #f7f7e5;
  color: #160099;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
  margin: 33px;
  margin-bottom: 100px;
}

table {
  border-collapse: collapse;
  border-radius: 12px;
  background-color: #99c8c8;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 10px 40px 0 rgba(0,0,0,0.19);


/* table {
    font-family: verdana;
    font-size: 15px;
    text-align: center;
    color: #aaf2ff;
    border: 1px solid black; */
}

.mytime select {
  background-color: white;
}


#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
